<div class="logo_header">
  <%= image_tag 'logo_ministere2.svg'%>
</div>
<div class='w100'>


    <div class="login_box">
       
      <h1 class="logo_connexion ">Connectez-vous</h1>
      <div class="d32"></div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:id => "login"}, remote: true) do |f| %>


        <div class="form">
          <%= f.label :statut, "Se connecter en tant que" %>
          <%= f.select :statut , [["CBR","CBR"], ["Prefet - SGAR","prefet"],["Ministère","ministere"], ["Direction du Budget","admin"]], {:include_blank => "- Sélectionner -"}, {class: "bs_none"} %>
        </div>
        <div class="d24"></div>
        <div id="region">
          <div class="form">
            <%= f.label :region_id, "Sur le périmètre " %>
            <%= f.select :region_id, Region.all.pluck(:id).map {|s| [Region.find(s).nom, s]}, {:include_blank => "- Sélectionner -"}, {class: "bs_none"} %>
          </div>
          <div class="d24"></div>
        </div>
        <div id="ministere">
          <div class="form">
            <%= f.label :nom, "Sur le ministere " %>
            <%= f.select :nom, Ministere.all.pluck(:nom).map {|s| [s, s]}, {:include_blank => "- Sélectionner -"}, {class: "bs_none"} %>
          </div>
          <div class="d24"></div>
        </div>
        <div class="form">
          <%= f.label :password, "Mot de passe" %>
          <%= f.password_field :password,required: true, autocomplete: "current-password",class:"form-field password", id: "form-field2" %><a class="eye_icon"><i class="fas fa-eye"></i></a>
        </div>
        <div id='error-message' class="error"></div>

        <div class="d32"></div>
        <div class="text-center">
          <%= f.submit "Connexion", class:"bouton" %>
        </div>
        <div class="d24"></div>
      <% end %>
    </div>
    <div class="d32"></div>
 

</div>
<script>
  $('#region').hide();
  $('#ministere').hide();

   $(function(){    
    $('#user_statut').change(function(){
      var statut = $(this).val() ;
      if (statut == "CBR" || statut =="prefet"){
        $('#region').show();
        $('#ministere').hide();
      }
      else if (statut == "ministere"){
        $('#ministere').show();
        $('#region').hide();
      }
      else{
        $('#region').hide();
        $('#ministere').hide();
      }
    })
  });

  $(".eye_icon").on('click',function() {
  if ($(".password").attr('type') === 'password') {
      $(".password").attr('type', 'text');
  } else {
      $(".password").attr('type', 'password');
  }
});

  $(document).ready(function() {
    //form id
    $('#login')
    .bind('ajax:success', function(evt, data, status, xhr) {
      //function called on status: 200 (for ex.)
      //console.log('success');
      window.location.href = "/"
    })
    .bind("ajax:error", function(evt, xhr, status, error) {
      //function called on status: 401 or 500 (for ex.)
      //console.log(xhr.responseText);
      $('#error-message').html("Mot de passe incorrect")
    });
  });

</script>
